# common
node_modules
node_modules/*
dist
dist/*
!dist/README.md
.DS_Store
origin/node_modules
origin/dist
# misc
*.sublime*
*.code-workspace
tmp
.vscode/
# dotenv
.env
.env.production
.env.development
.idea
yarn.lock
